* {
  display: flex;
  background-color: rgb(31, 20, 4);
}

.keyboard-container,
.keyboard {
  background-color: rgb(18, 136, 97);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
